/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/Anvil_Index.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
.github/copilot-instructions.md
/rules.md
